.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.item {
  box-shadow: var(--box-shadow-card);
  border-radius: var(--border-radius-card);
  background-color: var(--bg-card);
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}