.list {
  list-style: none;
  flex-grow: 1;
}
.item {
  box-shadow: var(--box-shadow-card);
  border-radius: var(--border-radius-card);
  background-color: var(--bg-card);
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}