@use "../../../../assets/style/media";
.container {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 51px;
  padding-inline: 10px;
  transition: background-color 0.2s;

  @include media.media-mobile-up {
    padding-inline: 20px;
  }

  &:hover {
    background-color: #a0a0ff10;

    .button {
        opacity: 1;
    }
  }
}

.input {
  display: none;
}

.label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  line-height: 1;
  font-size: 20px;
  margin-right: 1em;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 2px solid var(--color-gray-light);
    border-radius: 4px;
    background-color: white;
    transition: background-color 0.2s, border-color 0.2s;
  }

  &:after {
    content: '✔';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 4px;
    font-size: 15px;
    line-height: 20px;
    color: var(--color-blue);
    opacity: 0;
    transition: opacity 0.2s;
  }

  @include media.media-mobile-up {
    padding-left: 45px;

    &:before {
      width: 30px;
      height: 30px;
    }
    &:after {
      left: 10px;
      font-size: 15px;
      line-height: 30px;
    }
  }

  input:checked + & {
    &::before {
      border-color: var(--color-blue);
    }
    &::after {
      opacity: 1;
    }
  }
  
  input:disabled + &::before {
    border-color: var(--color-gray);
    background-color: lightgray;
  }
}

.button {
  margin-left: auto;
  height: 100%;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  color: var(--color-blue);
  font-family: inherit;
  font-size: 18px;

  transition: opacity 0.2s ease-in-out;

  &:disabled {
    display: none;
  }
  @media (pointer: coarse) {
    opacity: 1;
  }


  @media (pointer: fine) {
    opacity: 0;
  }
}