@use "../../assets/style/media";
.card {
  width: 100%;
  @include media.media-tablet-up {
    display: grid;
    grid-template-columns: 295px 1fr;
  }
}

.left {
  width: 100%;
  padding: 30px;
  display: flex;
  gap: 30px;
  align-items: stretch;
  flex-direction: column;

  @include media.media-mobile-up {
    padding: 40px 30px;
  }

  @include media.media-mobile {
    flex-direction: row;
    & > * {
      flex: 0 0 calc(50% - 15px);
      align-items: center;
    }
  }

  @include media.media-tablet-up {
    border-right: 1px solid var(--color-gray-light);
  }
}

.logo {
  height: auto;
  max-height: 65px;
  width: 100%;
  object-fit: contain;
  @include media.media-tablet-up {
    max-height: 45px;
  }
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: var(--color-orange);
}

.right {
  padding: 0 30px 40px;
  color: var(--color-gray-dark);
  @include media.media-mobile-down {
    text-align: center;
  }
  @include media.media-mobile-up {
    padding: 30px 40px;
  }
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin-bottom: 4px;
  @include media.media-mobile-down {
    flex-direction: column;
    gap: 16px;
    margin-bottom: 16px;
  }
}

.top-deliver {
  position: relative;
  flex-grow: 1;
  text-align: center;
  padding-bottom: 26px;
  &:after {
    content: url(/images/airplane.svg);
    position: absolute;
    bottom: 0;
    right: 0;
    width: 1.5rem;
    height: 1.5rem;
    display: block;
  }
  &:before {
    content: "";
    position: absolute;
    bottom: 0.75rem;
    left: 0;
    width: calc(100% - 1.6rem);
    height: 2px;
    background-color: #ddd;
  }
}

.bottom {
  display: flex;
  justify-content: space-between;

  @include media.media-mobile-down {
    flex-direction: column;
  }
}
