@use '../../assets/style/media';
.card {
  width: 100%;
  @include media.media-tablet-up {
    display: grid;
    grid-template-columns: 295px 1fr;
  }
}
.left {
  width: 100%;
  padding: 40px 30px;
  display: flex;
  gap: 30px;
  align-items: center;
  @include media.media-mobile{
    & > * {
      flex: 0 0 calc(50% - 30px);
    }
  }
  @include media.media-mini-mobile{
    flex-direction: column;
    & > * {
      flex: 0 0 100%;
    }
  }

  @include media.media-tablet-up {
    align-items: stretch;
    flex-direction: column;
    border-right: 1px solid var(--color-gray-light);
  }
}

.logo {
  //width: 50%;
  height: 45px;
  //@include media.media-tablet-up {
    width: 100%;
  //}
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: var(--color-orange);
  //@include media.media-mobile {
  //  width: 50%;
  //}
}

.right {
  padding: 30px 40px;
  color: var(--color-gray-dark);
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin-bottom: 4px;
  @include media.media-mini-mobile {
    flex-direction: column;
  }
}

.top-deliver {
  position: relative;
  flex-grow: 1;
  text-align: center;
  padding-bottom: 26px;
  &:after {
    content: url(/images/airplane.svg);
    position: absolute;
    bottom: 0;
    right: 0;
    width: 1.5rem;
    height: 1.5rem;
    display: block;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0.75rem;
    left: 0;
    width: calc(100% - 1.6rem);
    height: 2px;
    background-color: #ddd;
  }
}

.bottom {
  display: flex;
  justify-content: space-between;

  @include media.media-mini-mobile {
    flex-direction: column;
    text-align: center;
  }
}
